<!doctype html>
<head>
    {% include 'partials/header.html' %}
</head>

<body>
  <div class="container">
    <div class="row align-items-center justify-content-center mt-5" id="nameInput">
      <div class="col-8 col-sm-6 text-center">
        <h1>Mind Game</h1>
        <h2>Rules</h2>
        <p>The deck contains cards numbered 0-100, and during the game you try to complete 10 levels of play with 2,3, or 4 players.</p>
        <p>In a level, each player receives a hand of cards equal to the number of the level: one card in level 1, two cards in level 2, etc.</p>
        <p>Collectively you must play these cards in ascending order but you cannot communicate with one another in any way as to which cards you hold.</p>
        <p>
            If no one holds a card lower than what you played, great, the game continues! 
            All cards lower than what you played are discarded, and your team lose one life.
            You start the game with a number of lives equal to the number of players. Lose all your lives, and you lose the game.
        </p>
        
        <p>
          <a href="https://boardgamegeek.com/boardgame/244992/mind">Source for rules</a>
        </p>
        <p>
          <a href="/">Back To Home</a>
        </p>
        
      </div>
    </div>
  </div>
</body>